
.dangnhap-container {
    background-color: #fd224a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dangnhap-wrapper {
    width: 130vh;
    height: 80vh;
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }
  
  .dangnhap-left {
    flex: 1;
    background-color: #ffffff;
    position: relative;
  }
  
  .dangnhap-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .dangnhap-right {
    flex: 1;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 0px;
  }
  
  .logo-kfc {
    width: 200px;
    margin-bottom: 0px;
    margin-top: -1200px;
    margin-left: 950px;
    z-index: 9999; 
    position: absolute;
  }
  
  h2 {
    color: #e4002b;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 150px;
  }
  
  .input-group input {
    width: 70%;
    padding: 10px 12px;
    border: 1px solid #201f1f;
    border-radius: 25px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 150px;
    height: 40px;
    margin-bottom: 40px;
  }
  
  .btn-signin {
    width: 30%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
  }
  
  .btn-signin:hover {
    background-color: #333;
  }
  
  .or-divider {
    margin: 20px 0 10px;
    font-weight: bold;
    color: #888;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .social-login {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
  }
  
  .social-login img {
    width: 90px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 10px;
  }
  
  .social-login img:hover {
    transform: scale(1.1);
  }
  .img-new-tag {
    position: absolute;
    bottom: 70px;
    right: 350px;
    width: 300px;
    z-index: 9999;
  }
  
  .img-combo {
    position: absolute;
    bottom: -120px;
    right: 300px;
    width: 500px;
  }
  
  .combo-price {
    position: absolute;
    bottom: -10px;
    right: 700px;
    background-color: #e4002b;
    color: white;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .combo-price span {
    font-size: 24px;
  }
  