.input-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  .input-address {
    padding: 8px;
    width: 400px;
    height: 30px;
    margin-right: 10px;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .button-search {
    padding: 8px 16px;
    margin-left: 8px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    cursor: pointer;
  }
  
  .map-container iframe {
    width: 100%;
    height: 1000px;
    border: 0;
  }
  h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
  }
  .suggestions-list {
    position: absolute;
    left: 50px;
    width: 417px;
    max-height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .suggestions-list li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  