/* ThucDon.css */

body {
    font-family: Arial, sans-serif;
  }
  .tabs {
    display: flex;
    overflow-x: auto;
    border-bottom: 1px solid #ccc;
    height: 70px;
  }
  
  .tab-button {
    padding: 12px 0px;
    color: #666;
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 190px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
  }
  
  .tab-button.active {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  
  .combo-section {
    padding: 20px;
  }
  
  .combo-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 100px;
  }
  
  .combo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Chia thành 4 cột */
    margin-left: 100px;
    gap: 20px;
    margin-right: 100px;
    /* height: 1500px; */
    

  }
  
  .combo-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    font-size: 25px;
  }
  
  .combo-card img {
    height: 400px;
    width: 400px;
    object-fit: contain;
    margin-bottom: 12px;
    margin-left: 1cqw;
  }
  
  .combo-price {
    color: #e4002b;
    font-weight: bold;
    margin: 6px 0;
    font-size: 25px;
    display: flex;
  }
  
  .combo-desc {
    font-size: 0.9rem;
    margin: 8px 0;
    font-size: 20px;
  }
  
  .add-button {
    background-color: #f2f2f2;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    height: 70px;
    margin-left: 200px;
    margin-top: 50px;
  }
  