.header {
    background-color: black;
    color: white;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
  }
  
  .header-left {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 1000px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .red-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  .red-buttonDH {
    background-color: #e4002b;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1000px;
    height: 55px;
  }