.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 100px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 150px;
    margin: 0;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  .navbar li {
    cursor: pointer;
    font-weight: bold;
  }
  .navbar li:hover {
    text-decoration: underline;
}
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .navbar .icons span {
    display: flex;
    gap: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  .logo-img{
    width: 150px;
    height: auto;
    margin-left: 50px;
  }
  ul li {
    cursor: pointer;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 30px; 
    cursor: pointer;

  }
  .icons span {
    display: inline-flex;
    align-items: center;
  }
  .account-img{
    width: 50px;
    height: 50px;
  }
  .giohang-img{
    width: 50px;
    height: 50px;
  }
  
  a {
    color: inherit;         /* Giữ nguyên màu chữ của cha */
    text-decoration: none;  /* Bỏ gạch chân */
  }


  